<div class="p-grid">
	<div class="p-col-12">
		<p-toast></p-toast>
		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
                    <div class="p-formgroup-inline">
                        <div class="p-field">
                            <label for="serachSelection" class="p-sr-only">Search  By:</label>
                            <p-multiSelect [options]="membershipCategory" placeholder="Select Membership(s)"  appendTo="body"  [(ngModel)] ="selectedMembershipCategory" optionLabel="name" optionValue="code"></p-multiSelect>
                        </div>
                        <button pButton type="button" label="Search"  icon="pi pi-search" class="p-button-primary p-mr-2 p-mb-2"  (click)="serachMemberships()"></button>
                    </div>
				</ng-template>
				<ng-template pTemplate="right">
				</ng-template>
			</p-toolbar>
        </div>
        	<div *ngIf="showTable">
			<p-table #dt [value]="membershipTypes" [columns]="cols" [rows]="25" [paginator]="true" [(selection)]="selectedMembershipType" [rowHover]="true" dataKey="membershipTypeId" resizableColumns="true"
				styleClass="p-datatable-sm" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} record(s)"
				[showCurrentPageReport]="true" selectionMode="single">
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 5%" >
						</th>
						<th pSortableColumn="categoryName" class="ui-resizable-column" pResizableColumn style="width:25%;">							
							Membership  Type
							<p-columnFilter type="text" field="categoryName" display="menu"></p-columnFilter>
					  </th>
						<th pSortableColumn="name" class="ui-resizable-column" pResizableColumn style="width:10%;">							
              				Name
							  <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
						</th>
						<th pSortableColumn="name" class="ui-resizable-column" pResizableColumn style="width:25%;">							
              				Description
							  <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
						</th>
					
						<th pSortableColumn="periodName" class="ui-resizable-column"  pResizableColumn style="width:20%;">						
              				Period
							  <p-columnFilter type="text" field="periodName" display="menu"></p-columnFilter>
						</th>	
						<th pSortableColumn="paymentFrequencyName" class="ui-resizable-column"  pResizableColumn style="width:20%;">						
							Payment Frequency
							<p-columnFilter type="text" field="paymentFrequencyName" display="menu"></p-columnFilter>
					  </th>						
						<th  pSortableColumn="membershipFee" pResizableColumn style="width:20%">							
              				Recurring Fee
							  <p-columnFilter type="text" field="membershipFee" display="menu"></p-columnFilter>
						</th>
						
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-membershipType>
					<tr class="maxTableRow">
						<td style='text-align: center;'>
							<p-tableCheckbox [value]="membershipType" (click)="SelectMembership(membershipType)"></p-tableCheckbox>
						</td>
						<td>
							{{ membershipType.categoryName }}
						</td>
						<td>
							{{ membershipType.name }}
						</td>
						<td>
							{{ membershipType.description }}
						</td>
						<td>
							{{ membershipType.periodName }}
						</td>
						<td>
							{{ membershipType.paymentFrequencyName }}
						</td>
						<td pTooltip="{{membershipType.feeDetailTag}}" [escape]="false" tooltipPosition="top">
							{{ membershipType.membershipFee | currency }}
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<div class="p-d-flex p-ai-center p-jc-between">
						In total there are
						{{ membershipTypes ? membershipTypes.length : 0 }} membership types.
					</div>
				</ng-template>
			</p-table>
			<div class="center">
				<button pButton pRipple label="Continue" icon="pi pi-save" class="p-button-success p-mr-2 p-mb-2" (click)="selectMembership()"></button>
				<button pButton pRipple label="Cancel" icon="pi pi-cross" class="p-button-danger p-mb-2" (click)="goBack()"></button>
			 </div>
		</div>
    </div>
</div>
