.mbrmax-rounded-div {
  border-radius: 25px;
  border: 2px solid #c8ced0;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  box-shadow: 5px 5px 5px 5px rgb(161, 161, 163)
}
:host {
  ::ng-deep .p-card .p-card-body {
    background-color: #090900;
  }
}