<div class="p-grid">
  <div class="p-col-12 p-md-12 p-xl-12">
    <div class="card">
      <div class="p-grid">
        <div class="p-col-6">
          <app-last-billing-membership-type></app-last-billing-membership-type>
        </div>
        <div class="p-col-6">
          <app-last-billing-success></app-last-billing-success>
        </div>
        <div class="p-col-3"></div>
        <div class="p-col-6">
          <app-last-billing-outstanding></app-last-billing-outstanding>
        </div>
        <div class="p-col-3"></div>
      </div>
    </div>
  </div>
</div>