.status {
    padding-top: 15px;
}

.has-feedback {
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.p-inputgroup-addon{
  min-width: 0.75rem;
}