<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <div class="center">
                <table>
                    <th>
                        <h2>COMING SOON</h2>
                    </th>
                    <tr>
                        <td>
                            <h6>This feature is under development.</h6>
                        </td>
                    </tr>
                    <tr>
                        <td class="center">
                            <button pButton pRipple [routerLink]="['/']" label="Dashboard" icon="pi pi-home"></button>
                        </td>
                    </tr>
                </table>
                  
            </div>
        </div>
    </div>
</div>
