<div class="p-grid">
    <div class="p-col-12">
        <div>
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="p-formgroup-inline">
                        <button pButton type="button" label="Assign Contact" icon="pi pi-plus"
                            class="p-button-primary p-mr-2 p-mb-2" (click)="addContacts()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <div *ngIf="showSearch">
                <div class="p-field p-col-12 p-md-12">
                    <app-search-contact-role [parentEntityId]="entityId" [parentCompanyId]="entity?.person?.companyId"
                        (addNewContactRoleEvent)="reloadContactRoles($event)" [searchEnabled]="false"
                        [firstName]="contact.firstName" [lastName]="contact.lastName"
                        [selectedParentRole]="selectedRole"></app-search-contact-role>
                </div>
            </div>
        </div>
        <p-toast></p-toast>
        <div>
            <div class="card" *ngIf="accountContacts && accountContacts.length>0;else noAccountContacts">
                <p-table #dt [value]="accountContacts" [rows]="5" [paginator]="true" styleClass="p-datatable-sm"
                    [showCurrentPageReport]="true" [autoLayout]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="role" class="ui-resizable-column" pResizableColumn width='33%'
                                style="text-align:left">
                                Role
                                <p-columnFilter type="text" field="role" display="menu"></p-columnFilter>
                            </th>

                            <th pSortableColumn="timeLine" class="ui-resizable-column" pResizableColumn width='34%'
                                style="text-align:left">Timeline
                                <p-columnFilter type="text" field="timeLine" display="menu"></p-columnFilter>
                            </th>
                            <th pSortableColumn="account" class="ui-resizable-column" pResizableColumn width='33%'
                                style="text-align:left">Account
                                <p-columnFilter type="text" field="accountName" display="menu"></p-columnFilter>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-contactRole let-i="rowIndex">
                        <tr class="maxTableRow">
                            <td style="text-align:left"><button pButton type="button" label="{{contactRole.role}}"
                                    class="p-button-link" (click)="showAccountRoleDetail(contactRole)"></button></td>
                            <td style="text-align:left">{{contactRole.timeLine}}</td>
                            <td style="text-align:left"><button pButton type="button"
                                    label="{{contactRole.accountName}}" class="p-button-link"
                                    (click)="showAccountDetail(contactRole)"></button></td>
                            <td style="text-align: left;">
                                <p-menu #menu [popup]="true" [model]="menuItems" position="left"
                                    appendTo="body"></p-menu>
                                <button type="button" pButton icon="pi pi-ellipsis-v"
                                  [disabled]="contactRole.status===0"  (click)="setActiveRow(contactRole);menu.toggle($event)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <ng-template #noAccountContacts>
                <div class="p-grid" *ngIf="accountContacts && accountContacts.length===0">
                    <div class="p-col-12 center">
                        <h6>No Roles have been assigned yet.</h6>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<p-dialog header="Confirm" [(visible)]="unassignRoleDialog" [style]="{width: '50vw'}">


    <ng-template pTemplate="content">
        <div class="p-fluid">

            <div class="p-field p-grid">
                <i class="pi pi-exclamation-triangle p-col-2 p-mb-2" style="font-size: 4rem;"></i>
                <label class="p-confirm-dialog-message p-col-10 p-md-10">
                    <p>Are you sure you want to unassign <b> {{unassignRoleContact}}</b> from
                        <b>{{unassignRoleName}} role
                        </b> at
                        <b>{{unassignRoleAccount}} </b> ?
                    </p>
                </label>
            </div>
            <div class="p-field p-grid">
                <label class="p-col-2 p-mb-2 p-md-2 p-mb-md-0">
                    Effective Date
                </label>
                <div class="p-col-6 p-md-6">
                    <p-calendar appendTo="body" styleClass="ui-column-filter" dateFormat="mm/dd/yy"
                        [minDate]="minEffectiveEndDate" [(ngModel)]="effectiveEndDate"
                        (onSelect)="effectiveEndDateChanged($event)">
                    </p-calendar>
                    <span *ngIf="effectiveEndDateRequired">The effecive date is required.</span>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="No" icon="pi pi-times" class="p-button-primary p-mb-2"
            (click)="unassignRoleReject()"></button>
        <button pButton pRipple label="Yes" icon="pi pi-check" class="p-button-primary p-mr-2 p-mb-2"
        [disabled]="disabledUnassignSaveBtn" (click)="unassignRoleAccept()" autofocus></button>
    </ng-template>


</p-dialog>

<p-dialog header="Confirm" [(visible)]="unassignHistoricRecordRoleDialog" [style]="{width: '50vw'}">

    <ng-template pTemplate="content">
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label class="p-confirm-dialog-message p-col-1 p-md-1"></label>
                <label class="p-confirm-dialog-message p-col-11 p-md-11">
                    <p> NOTE : Given there is no historic records associated with this record, this will remove them
                        from
                        historic records.</p>
                </label>
                <i class="pi pi-exclamation-triangle p-col-2 p-mb-2" style="font-size: 4rem;"></i>

                <label class="p-confirm-dialog-message p-col-10 p-md-10">
                    <p>Are you sure you want to unassign <b> {{unassignRoleContact}}</b> from
                        <b>{{unassignRoleName}} role
                        </b> at
                        <b>{{unassignRoleAccount}} </b> ?
                    </p>
                </label>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="No" icon="pi pi-times" class="p-button-primary p-mb-2"
            (click)="unassignHistoricRecordRoleReject()"></button>
        <button pButton pRipple label="Yes" icon="pi pi-check" class="p-button-primary p-mr-2 p-mb-2"
           [disabled]="disabledUnassignSaveBtn" (click)="unassignHistoricRecordRoleAccept()" autofocus></button>
    </ng-template>
</p-dialog>