<div class="p-grid">
   <div class="p-col-2"></div>
   <div class="p-col-8">
      <p-toast></p-toast>
      <div class="card">
         <h3>Make Payment</h3>
      </div>
   </div>
   <div class="p-col-2"></div>
   <div class="p-col-2"></div>
   <div class="p-col-8">
      <div class="card" *ngIf="hasBalance">
         <p-tabView id="tabPayment" (onChange)="onChange($event)" [(activeIndex)]="index">
            <p-tabPanel header="Wallet" [cache]="false" [disabled]="!showPaymentProfile">
               <ng-template pTemplate="content">
                  <h6 *ngIf="showLoader">Loading Payment Profiles...</h6>
                  <h6 *ngIf="!showLoader">Select Saved Payment method</h6>
                  <hr>
                  <div *ngIf="showPaymentProfile">
                     <div class="card" *ngIf="creditCardPaymentProfiles.length > 0">
                        <h6>Credit Card</h6>
                        <p-table #dt [value]="creditCardPaymentProfiles" dataKey="authNetPaymentProfileId"
                           resizableColumns="true" styleClass="p-datatable-sm" selectionMode="single"
                           [(selection)]="selectedCreditCardProfile">
                           <ng-template pTemplate="header">
                              <tr>
                                 <th class="ui-resizable-column" width="15%">
                                    Name
                                 </th>
                                 <th class="ui-resizable-column" width="15%">
                                    Card Type
                                 </th>
                                 <th class="ui-resizable-column" width="35%">
                                    Card Number
                                 </th>
                                 <th class="ui-resizable-column" width="10%">
                                    Expires
                                 </th>
                                 <th width="5%">Select</th>
                              </tr>
                           </ng-template>
                           <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                              <tr>
                                 <td style="text-align:left">
                                    {{item.cardHolderName}}
                                 </td>
                                 <td style="text-align:left">
                                    {{item.cardType}}
                                 </td>
                                 <td style="text-align:left">
                                    {{item.cardNumber}}
                                 </td>
                                 <td style="text-align:left">
                                    {{item.expirationDate}}
                                 </td>
                                 <td>
                                    <p-tableRadioButton [value]="item" (click)="setCreditCardPaymentProfile(item)">
                                    </p-tableRadioButton>
                                 </td>
                              </tr>
                           </ng-template>
                        </p-table>
                     </div>
                     <div class="card" *ngIf="bankPaymentProfiles.length > 0">
                        <h6>Bank Account</h6>
                        <p-table #dt [value]="bankPaymentProfiles" dataKey="authNetPaymentProfileId"
                           resizableColumns="true" styleClass="p-datatable-sm" selectionMode="single"
                           [(selection)]="selectedBankAccountProfile">
                           <ng-template pTemplate="header">
                              <tr>
                                 <th class="ui-resizable-column" width="15%">
                                    Name
                                 </th>
                                 <th class="ui-resizable-column" width="15%">
                                    Nick Name
                                 </th>
                                 <th class="ui-resizable-column" width="35%">
                                    Account Number
                                 </th>
                                 <th class="ui-resizable-column" width="10%">
                                    Routing Number
                                 </th>
                                 <th width="5%">Select</th>
                              </tr>
                           </ng-template>
                           <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                              <tr>
                                 <td style="text-align:left">
                                    {{item.nameOnAccount}}
                                 </td>
                                 <td style="text-align:left">
                                    {{item.nickName}}
                                 </td>
                                 <td style="text-align:left">
                                    {{item.accountNumber}}
                                 </td>
                                 <td style="text-align:left">
                                    {{item.routingNumber}}
                                 </td>
                                 <td>
                                    <p-tableRadioButton [value]="item" (click)="setBankAccountPaymentProfile(item)">
                                    </p-tableRadioButton>
                                 </td>
                              </tr>
                           </ng-template>
                        </p-table>
                     </div>
                     <div class="center">
                        <div data-ng-show="showError" class="alert alert-danger">
                           <table>
                              <tr class="item" *ngFor="let error of errorList">
                                 <td>{{error.code}}</td>
                                 <td><b>{{error.text}}</b></td>
                              </tr>
                           </table>
                        </div>
                     </div>
                     <BR />
                     <div class="center">
                        <button pButton pRipple label="Pay {{ cartTotal | currency}}" icon="pi pi-credit-card"
                           class="p-button-success p-mr-2 p-mb-2" (click)="postEWaletToAuthNet()"
                           [disabled]="processing"></button>
                     </div>
                  </div>
               </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Credit Card" [cache]="false">
               <ng-template pTemplate="content">
                  <div class="card">
                     <form [formGroup]="creditCardForm" (ngSubmit)="onSubmit()">
                        <div class="p-d-flex">
                           <div class="p-mr-2"><img class="payment-card" src="./assets/layout/images/visa.svg"></div>
                           <div class="p-mr-2"><img class="payment-card" src="./assets/layout/images/master.svg"></div>
                           <div class="p-mr-2"><img class="payment-card" src="./assets/layout/images/amex.svg"></div>
                           <div class="p-mr-2"><img class="payment-card" src="./assets/layout/images/discover.svg">
                           </div>
                           <div class="p-mr-2"><img class="payment-card" src="./assets/layout/images/diners.svg"></div>
                        </div>
                        <hr>
                        <div class="p-fluid p-formgrid p-grid">
                           <div class="p-field p-col-12 p-md-12" [ngClass]="errorIconCss('Name')">
                              <input formControlName="PersonId" type="hidden">
                              <label for="Name">Card holder name</label>
                              <input formControlName="Name" type="text" pInputText autocomplete="new-password"
                                 class="p-inputtext-sm" [ngClass]="errorFieldCss('Name')"
                                 (click)="resetSubmitted('Name')" maxlength="30" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) 
                            || (event.charCode==32) || (event.charCode==39) "
                                 onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;"
                                 (paste)="matcher($event, 'Name')" />
                              <app-field-error-display [displayError]="isFieldValid('Name')"
                                 [addErrorMessages]="addErrorMessages">
                              </app-field-error-display>
                           </div>
                           <div class="p-field p-col-12 p-md-6" [ngClass]="errorIconCss('CardNumber')">
                              <label for="CardNumber">Card Number</label>
                              <p-inputMask formControlName="CardNumber" type="text" autocomplete="new-password"
                                 class="p-inputtext-sm" [autoClear]="false" mask="9999-9999-9999-9999" unmask="true"
                                 [ngClass]="errorFieldCss('CardNumber')" (click)="resetSubmitted('CardNumber')"
                                 (change)="creditCardNumberValidation($event)"></p-inputMask>
                              <app-field-error-display [displayError]="isFieldValid('CardNumber')"
                                 [addErrorMessages]="addErrorMessages">
                              </app-field-error-display>
                           </div>
                           <div class="p-field p-col-12 p-md-3" [ngClass]="errorIconCss('ExpDate')">
                              <label for="ExpDate">Expiration Date</label>
                              <p-inputMask formControlName="ExpDate" type="text" autocomplete="new-password"
                                 class="p-inputtext-sm" mask="99/99" [ngClass]="errorFieldCss('ExpDate')"
                                 (click)="resetSubmitted('ExpDate')" preventPaste="false"
                                 (keyup)="expirationValidation($event)" (keydown)="monthFirstPos($event)"
                                 (paste)="matcher($event, 'ExpDate')"></p-inputMask>
                              <app-field-error-display [displayError]="isFieldValid('ExpDate')"
                                 [addErrorMessages]="addErrorMessages">
                              </app-field-error-display>
                           </div>
                           <div class="p-field p-col-12 p-md-3" [ngClass]="errorIconCss('CVV')">
                              <label for="CVV">CVV</label>
                              <input type="text" pInputText formControlName="CVV" (click)="resetecheckSubmitted('CVV')"
                                 [ngClass]="errorFieldCss('CVV')" (click)="resetSubmitted('CVV')"
                                 onkeypress="return (event.charCode > 47 && event.charCode < 58)"
                                 onKeyDown="if(this.value.length==4 && event.keyCode!=8) return false;"
                                 (paste)="matcher($event, 'CVV')" (focusout)="CVVValidation($event)"
                                 (blur)="CVVValidation($event)" />
                              <div *ngIf="submitted">
                                 <app-field-error-display [displayError]="isFieldValid('CVV')"
                                    [addErrorMessages]="addErrorMessages">
                                 </app-field-error-display>
                              </div>
                           </div>
                           <div class="p-field p-col-12 p-md-6" [ngClass]="errorIconCss('Street')">
                              <label for="Street">Street Address</label>
                              <input type="text" pInputText formControlName="Street"
                                 (click)="resetecheckSubmitted('Street')" [ngClass]="errorFieldCss('Street')"
                                 (click)="resetSubmitted('Street')"
                                 onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) 
                            || (event.charCode==32) || (event.charCode==39)  || (event.charCode > 47 && event.charCode < 58)"
                                 onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;"
                                 (paste)="matcher($event, 'Street')" />
                              <div *ngIf="submitted">
                                 <app-field-error-display [displayError]="isFieldValid('Street')"
                                    [addErrorMessages]="addErrorMessages">
                                 </app-field-error-display>
                              </div>
                           </div>
                           <div class="p-field p-col-12 p-md-6" [ngClass]="errorIconCss('Zip')">
                              <label for="Zip">Zip</label>
                              <input type="text" pInputText formControlName="Zip" (click)="resetecheckSubmitted('Zip')"
                                 [ngClass]="errorFieldCss('Zip')" (click)="resetSubmitted('Zip')"
                                 onkeypress="return (event.charCode > 47 && event.charCode < 58)"
                                 onKeyDown="if(this.value.length==5 && event.keyCode!=8) return false;"
                                 (paste)="matcher($event, 'Zip')" (focusout)="zipValidation($event)"
                                 (blur)="zipValidation($event)" />
                              <div *ngIf="submitted">
                                 <app-field-error-display [displayError]="isFieldValid('Street')"
                                    [addErrorMessages]="addErrorMessages">
                                 </app-field-error-display>
                              </div>
                           </div>
                           <div class="p-col-12 p-md-12">
                              <label for="SaveProfile">Save for future payments</label>
                              <span style="margin-left: 10px;">
                                 <p-checkbox formControlName="SaveProfile" [binary]="true" inputId="binary">
                                 </p-checkbox>
                              </span>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="center">
                     <div data-ng-show="showError" class="alert alert-danger">
                        <table>
                           <tr class="item" *ngFor="let error of errorList">
                              <td>{{error.code}}</td>
                              <td><b>{{error.text}}</b></td>
                           </tr>
                        </table>
                     </div>
                  </div>
                  <BR />
                  <div class="center">
                     <button pButton pRipple label="Pay {{ cartTotal | currency}}" icon="pi pi-credit-card"
                        class="p-button-success p-mr-2 p-mb-2" (click)="postCreditCardToAuthNet()"
                        [disabled]="processing"></button>
                  </div>
               </ng-template>
            </p-tabPanel>
            <p-tabPanel header="ACH" [cache]="false">
               <ng-template pTemplate="content">
                  <div class="card">
                     <form [formGroup]="eCheckForm" (ngSubmit)="onSubmit()">
                        <div class="p-fluid p-formgrid p-grid">
                           <div class="p-field p-col-12 p-md-12">
                              <input formControlName="PersonId" type="hidden">
                              <label for="Name">Account holder name</label>
                              <input formControlName="nameOnAccount" type="text" pInputText autocomplete="new-password"
                                 class="p-inputtext-sm" maxlength="30" (click)="resetecheckSubmitted()"
                                 [ngClass]="{ 'ng-dirty ng-invalid': ecsubmitted && eCheckForm.controls.nameOnAccount.errors}"
                                 onkeypress="return (event.charCode > 64 && event.charCode < 91) 
                            || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32) || (event.charCode==39) "
                                 onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;"
                                 (keyup) = "populateNickName($event)"
                                 (paste)="matcher($event, 'nameOnAccount')" />
                              <div *ngIf="ecsubmitted">
                                 <small class="p-invalid"
                                    *ngIf="eCheckForm.controls.nameOnAccount.errors?.required">Name is required.</small>
                              </div>
                           </div>
                           <div class="p-field p-col-12 p-md-12">
                              <label for="NickName">Nick Name</label>
                              <input formControlName="nickName" type="text" pInputText autocomplete="new-password"
                                 class="p-inputtext-sm" (click)="resetecheckSubmitted()"
                                 [ngClass]="{ 'ng-dirty ng-invalid': ecsubmitted && eCheckForm.controls.nickName.errors}"/>
                              <div *ngIf="ecsubmitted">
                                 <small class="p-invalid" *ngIf="eCheckForm.controls.nickName.errors?.required"> Nick
                                    Name is required.</small>
                              </div>
                           </div>
                           <div class="p-field p-col-12 p-md-12">
                              <label for="RoutingNumber">Routing Number</label>
                              <input formControlName="routingNumber" class="p-inputtext-sm" type="text" pInputText
                                 (click)="resetecheckSubmitted()"
                                 [ngClass]="{ 'ng-dirty ng-invalid': ecsubmitted && eCheckForm.controls.routingNumber.errors}" />
                              <div *ngIf="ecsubmitted">
                                 <small class="p-invalid" *ngIf="eCheckForm.controls.routingNumber.errors?.required">
                                    Routing Number is required.</small>
                              </div>
                           </div>
                           <div class="p-field p-col-12 p-md-12">
                              <label for="AccountNumber">Account Number</label>
                              <input type="text" onKeyDown="if(this.value.length==18 && event.keyCode!=8) return false;"
                                 onkeypress="return (event.charCode > 47 && event.charCode < 58)" pInputText
                                 formControlName="accountNumber" (click)="resetecheckSubmitted()"
                                 (focusout)="AccountNumberValidation($event)" (blur)="AccountNumberValidation($event)"
                                 (paste)="matcher($event, 'accountNumber')" class="p-inputtext-sm"
                                 [ngClass]="{ 'ng-dirty ng-invalid': ecsubmitted && eCheckForm.controls.accountNumber.errors}" />
                              <div *ngIf="ecsubmitted">
                                 <small class="p-invalid" *ngIf="eCheckForm.controls.accountNumber.errors?.required">
                                    Account Number is required.</small>
                              </div>
                           </div>
                           <div class="p-col-12 p-md-12">
                              <label for="SaveProfile">Save for future payments</label>
                              <span style="margin-left: 10px;">
                                 <p-checkbox formControlName="SaveProfile" [binary]="true" inputId="binary">
                                 </p-checkbox>
                              </span>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="center">
                     <div data-ng-show="showError" class="alert alert-danger">
                        <table>
                           <tr class="item" *ngFor="let error of errorList">
                              <td>{{error.code}}</td>
                              <td><b>{{error.text}}</b></td>
                           </tr>
                        </table>
                     </div>
                  </div>
                  <BR />
                  <div class="center">
                     <button pButton pRipple label="Pay {{ cartTotal | currency}}" icon="pi pi-credit-card"
                        [disabled]="processing" class="p-button-success p-mr-2 p-mb-2"
                        (click)="postBankDataToAuthNet()"></button>
                  </div>
                  <BR />
               </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Check" [cache]="false">
               <ng-template pTemplate="content">
                  <div class="card">
                     <form [formGroup]="checkForm" (ngSubmit)="onSubmit()">
                        <div class="p-fluid p-formgrid p-grid">
                           <div class="p-field p-col-12 p-md-6">
                              <input formControlName="PersonId" type="hidden">
                              <label for="Name">Account holder name</label>
                              <input formControlName="nameOnAccount" type="text" pInputText autocomplete="new-password"
                                 class="p-inputtext-sm" maxlength="30" (click)="resetCheckSubmitted()"
                                 [ngClass]="{ 'ng-dirty ng-invalid': checkSubmitted && checkForm.controls.nameOnAccount.errors}"
                                 onkeypress="return (event.charCode > 64 && event.charCode < 91) 
                           || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32) || (event.charCode==39) "
                                 onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;"
                                 (paste)="matcher($event, 'nameOnAccount')" />
                              <div *ngIf="checkSubmitted">
                                 <small class="p-invalid" *ngIf="checkForm.controls.nameOnAccount.errors?.required">Name
                                    is required.</small>
                              </div>
                           </div>
                           <div class="p-field p-col-12 p-md-6">
                              <label for="AccountNumber">Account Number</label>
                              <input type="text" onKeyDown="if(this.value.length==18 && event.keyCode!=8) return false;"
                                 onkeypress="return (event.charCode > 47 && event.charCode < 58)" pInputText
                                 formControlName="accountNumber" (click)="resetCheckSubmitted()"
                                 (focusout)="AccountNumberValidation($event)" (blur)="AccountNumberValidation($event)"
                                 (paste)="matcher($event, 'accountNumber')" class="p-inputtext-sm"
                                 [ngClass]="{ 'ng-dirty ng-invalid': checkSubmitted && checkForm.controls.accountNumber.errors}" />
                              <div *ngIf="checkSubmitted">
                                 <small class="p-invalid" *ngIf="checkForm.controls.accountNumber.errors?.required">
                                    Account Number is required.</small>
                              </div>
                           </div>
                           <div class="p-field p-col-12 p-md-6">
                              <label for="AccountType">Account Type</label>
                              <input formControlName="accountType" type="text" pInputText autocomplete="new-password"
                                 class="p-inputtext-sm" (click)="resetCheckSubmitted()"
                                 [ngClass]="{ 'ng-dirty ng-invalid': checkSubmitted && checkForm.controls.accountType.errors}">
                              <div *ngIf="checkSubmitted">
                                 <small class="p-invalid" *ngIf="checkForm.controls.accountType.errors?.required">
                                    Account Type is required.</small>
                              </div>
                           </div>
                           <div class="p-field p-col-12 p-md-6">
                              <label for="BankName">Bank Name</label>
                              <input formControlName="bankName" type="text" pInputText autocomplete="new-password"
                                 class="p-inputtext-sm" maxlength="64" (click)="resetCheckSubmitted()"
                                 [ngClass]="{ 'ng-dirty ng-invalid': checkSubmitted && checkForm.controls.bankName.errors}"
                                 onkeypress="return (event.charCode > 64 && event.charCode < 91) 
                           || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32) || (event.charCode==45) 
                           || (event.charCode==39) || (event.charCode==44) || (event.charCode==46)"
                                 onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;"
                                 (paste)="matcher($event, 'bankName')" />
                              <div *ngIf="checkSubmitted">
                                 <small class="p-invalid" *ngIf="checkForm.controls.bankName.errors?.required"> Bank
                                    Name is required.</small>
                              </div>
                           </div>
                           <div class="p-field p-col-12 p-md-6">
                              <label for="CheckNumber">Check Number</label>
                              <input formControlName="checkNumber" class="p-inputtext-sm" type="text" pInputText
                                 (click)="resetCheckSubmitted()"
                                 [ngClass]="{ 'ng-dirty ng-invalid': checkSubmitted && checkForm.controls.checkNumber.errors}" />
                              <div *ngIf="checkSubmitted">
                                 <small class="p-invalid" *ngIf="checkForm.controls.checkNumber.errors?.required"> Check
                                    Number is required.</small>
                              </div>
                           </div>
                           <BR />
                        </div>
                     </form>
                  </div>
                  <div class="center">
                     <div data-ng-show="showError" class="alert alert-danger">
                        <table>
                           <tr class="item" *ngFor="let error of errorList">
                              <td>{{error.code}}</td>
                              <td><b>{{error.text}}</b></td>
                           </tr>
                        </table>
                     </div>
                  </div>
                  <BR />
                  <div class="center">
                     <button pButton pRipple label="Accept check of  {{ cartTotal | currency}}" icon="pi pi-credit-card"
                        [disabled]="processing" class="p-button-success p-mr-2 p-mb-2"
                        (click)="postCheckPayment()"></button>
                  </div>
                  <BR />
               </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Off Line" [cache]="false">
               <ng-template pTemplate="content">
                  <div class="card">
                     <form [formGroup]="offLineForm" (ngSubmit)="onSubmit()">
                        <div class="p-fluid p-formgrid p-grid">
                           <div class="p-field p-col-12 p-md-6">
                              <label for="PayerName">Payer Name</label>
                              <input formControlName="payerName" type="text" pInputText autocomplete="new-password"
                                 class="p-inputtext-sm" maxlength="64" (click)="resetPaymentSubmitted()"
                                 [ngClass]="{ 'ng-dirty ng-invalid': paymentSubmitted && offLineForm.controls.payerName.errors}"
                                 onkeypress="return (event.charCode > 64 && event.charCode < 91) 
                           || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32) || (event.charCode==45) 
                           || (event.charCode==39) || (event.charCode==44) || (event.charCode==46)"
                                 onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;" />
                              <div *ngIf="paymentSubmitted">
                                 <small class="p-invalid" *ngIf="offLineForm.controls.payerName.errors?.required"> Payer
                                    Name is required.</small>
                              </div>
                           </div>
                           <div class="p-field p-col-12 p-md-6">
                              <input formControlName="PersonId" type="hidden">
                              <label for="paymentType">Payment Type</label>
                              <input formControlName="paymentType" type="text" pInputText autocomplete="new-password"
                                 class="p-inputtext-sm" (click)="resetPaymentSubmitted()"
                                 [ngClass]="{ 'ng-dirty ng-invalid': paymentSubmitted && offLineForm.controls.paymentType.errors}"
                                 onkeypress="return (event.charCode > 64 && event.charCode < 91) 
                           || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32) || (event.charCode==39) "
                                 onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;"
                             (paste)="matcher($event, 'paymentType')" />
                              <div *ngIf="paymentSubmitted">
                                 <small class="p-invalid"
                                    *ngIf="offLineForm.controls.paymentType.errors?.required">Payment Type is
                                    required.</small>
                              </div>
                           </div>
                           <div class="p-field p-col-12 p-md-6">
                              <label for="ReferenceNumber">Reference Number</label>
                              <input type="text" pInputText formControlName="referenceNumber"
                              maxlength="30"  
                                 (click)="resetPaymentSubmitted()" class="p-inputtext-sm" />
                           </div>
                           <div class="p-field p-col-12 p-md-6">
                              <label for="TransactionDate">TransactionDate</label>
                              <p-calendar dateFormat="mm/dd/yy" formControlName="transactionDate"
                                 (click)="resetPaymentSubmitted();"
                                 [ngClass]="{ 'ng-dirty ng-invalid': paymentSubmitted && offLineForm.controls.transactionDate.errors}">
                              </p-calendar>
                              <div *ngIf="paymentSubmitted">
                                 <small class="p-invalid" *ngIf="offLineForm.controls.transactionDate.errors?.required">
                                    Transaction date is required.</small>
                              </div>
                           </div>
                           <BR />
                        </div>
                     </form>
                  </div>
                  <div class="center">
                     <div data-ng-show="showError" class="alert alert-danger">
                        <table>
                           <tr class="item" *ngFor="let error of errorList">
                              <td>{{error.code}}</td>
                              <td><b>{{error.text}}</b></td>
                           </tr>
                        </table>
                     </div>
                  </div>
                  <BR />
                  <div class="center">
                     <button pButton pRipple label="Accept payment of  {{ cartTotal | currency}}"
                        icon="pi pi-credit-card" [disabled]="processing" class="p-button-success p-mr-2 p-mb-2"
                        (click)="postOfflinePayment()"></button>
                  </div>
                  <BR />
               </ng-template>
            </p-tabPanel>
         </p-tabView>
      </div>
   </div>
</div>